Initialisation code:

In [2]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

from fastai.imports import * # fastai.imports imports range of different libraries e.g. pandas
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier # Random Forest Class's we'll use.
from IPython.display import display

from sklearn import metrics

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
df_raw = pd.read_csv('/Users/Alex/data/bulldozers/train.csv', parse_dates=['saledate'], low_memory=False)

In [6]:
df_raw.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_raw.loc[[1,2,3,4],:]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Splitting date into (potentially) relevant columns:**

In [10]:
add_datepart(df_raw, 'saledate')

In [11]:
df_raw.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
       'saleWeek', 'saleDay', 'saleDayofweek', 'saleDayofyear',
       'saleIs_month_end', 'saleIs_month_start', 'saleIs_quarter_end',
       'saleIs_quarter_start', 'saleIs_year_end', 'saleIs_year_start',
       'saleElapsed'],
      dtype='object')

Note the extra date columns at the end.

**Coercing strings into categories:**

In [12]:
train_cats(df_raw)

**Order categories:**

In [19]:
df_raw.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace = True)

**Dealing with missing values and splitting Data Frame:**

In [20]:
df, y, nas = proc_df(df_raw, 'SalePrice')

**Creating a validation set:**

In [23]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

In [24]:
X_train, X_valid = split_vals(df,12000)

## Manipulating Data Frames with Pandas:

Accessing via column:

In [54]:
df_raw.SalePrice.head()

0    66000
1    57000
2    10000
3    38500
4    11000
Name: SalePrice, dtype: int64

This generates a Pandas series, which we can then subset:

In [26]:
df_raw.SalePrice[:10] # Subsetting with columns

0    66000
1    57000
2    10000
3    38500
4    11000
5    26500
6    21000
7    27000
8    21500
9    65000
Name: SalePrice, dtype: int64

If we want to subset directly then we use `.loc`:

In [27]:
df_raw.loc[[1,2,3,4],:] # Subsetting with columns and rows

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [37]:
df_raw[df_raw.SalePrice > 10000]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200
5,1139255,26500,1001274,4605,121,3.0,2004,508.0,Low,310G,...,18,3,353,False,False,False,False,False,False,1229558400
6,1139256,21000,772701,1937,121,3.0,1993,11540.0,High,790ELC,...,26,3,239,False,False,False,False,False,False,1093478400
7,1139261,27000,902002,3539,121,3.0,2001,4883.0,High,416D,...,17,3,321,False,False,False,False,False,False,1132185600
8,1139272,21500,1036251,36003,121,3.0,2008,302.0,Low,430HAG,...,27,3,239,False,False,False,False,False,False,1251331200
9,1139275,65000,1016474,3883,121,3.0,1000,20700.0,Medium,988B,...,9,3,221,False,False,False,False,False,False,1186617600
10,1139278,24000,1024998,4605,121,3.0,2004,1414.0,Medium,310G,...,21,3,234,False,False,False,False,False,False,1219276800
11,1139282,22500,319906,5255,121,3.0,1998,2764.0,Low,D31E,...,24,3,236,False,False,False,False,False,False,1156377600
12,1139283,36000,1052214,2232,121,3.0,1998,0.0,NaN,PC200LC6,...,20,3,293,False,False,False,False,False,False,1129766400
13,1139284,30500,1068082,3542,121,3.0,2001,1921.0,Medium,420D,...,26,3,26,False,False,False,False,False,False,1138233600
14,1139290,28000,1058450,5162,121,3.0,2004,320.0,Low,214E,...,3,1,3,False,False,False,False,False,False,1136246400
15,1139291,19000,1004810,4604,121,3.0,1999,2450.0,Medium,310E,...,16,3,320,False,False,False,False,False,False,1163635200
16,1139292,13500,1026973,9510,121,3.0,1999,1972.0,Low,334,...,14,3,165,False,False,False,False,False,False,1181779200
18,1139301,12500,125790,7040,121,3.0,2001,994.0,Low,302.5,...,9,3,68,False,False,False,False,False,False,1141862400
19,1139304,11500,1011914,3177,121,3.0,1991,8005.0,Medium,580SUPER K,...,17,3,321,False,False,False,False,False,False,1132185600
20,1139311,41000,1014135,8867,121,3.0,2000,3259.0,Medium,JS260,...,18,3,138,False,False,False,False,False,False,1147910400
21,1139333,34500,999192,3350,121,3.0,1000,16328.0,Medium,120G,...,19,3,292,False,False,False,False,False,False,1161216000
22,1139344,26000,1044500,7040,121,3.0,2005,109.0,Low,302.5,...,25,3,298,False,False,False,False,False,False,1193270400
23,1139346,73000,821452,85,121,3.0,1996,17033.0,High,966FII,...,19,3,292,False,False,False,False,False,False,1161216000
24,1139348,33000,294562,3542,121,3.0,2001,1877.0,Medium,420D,...,20,3,141,False,False,False,False,False,False,1085011200
25,1139351,12500,833838,7009,121,3.0,2003,1028.0,Medium,226,...,9,3,68,False,False,False,False,False,False,1141862400
26,1139354,15500,565440,7040,121,3.0,2003,356.0,Low,302.5,...,9,3,68,False,False,False,False,False,False,1141862400
27,1139356,53000,1004127,25458,121,3.0,2000,0.0,NaN,EX550STD,...,22,3,53,False,False,False,False,False,False,1172102400
28,1139357,46000,44800,19167,121,3.0,2004,904.0,Low,685B,...,9,3,221,False,False,False,False,False,False,1186617600
29,1139358,89000,1018076,1333,121,3.0,1998,10466.0,Medium,345BL,...,1,3,152,False,True,False,False,False,False,1149120000
30,1139363,51000,871201,1263,121,3.0,1999,15633.0,High,330BL,...,22,4,295,False,False,False,False,False,False,1287705600
31,1139365,14000,973717,9566,121,3.0,2001,2097.0,Medium,873,...,22,3,81,False,False,False,False,False,False,1174521600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401076,6333207,12000,1874468,21438,149,2.0,2006,NaN,NaN,35NX,...,14,2,348,False,False,False,False,False,False,1323820800
401078,6333216,13000,1851957,21450,149,1.0,2004,NaN,NaN,80NX3,...,14,2,348,False,False,False,False,False,False,1323820800
401079,6333217,16000,1925895,21449,149,1.0,2004,NaN,NaN,80NX,...,26,2,299,False,False,False,False,False,False,1319587200
401080,6333221,18500,1899876,21449,149,2.0,2004,NaN,NaN,80NX,...,16,1,228,False,False,False,False,False,False,1313452800
401081,6333222,20000,1872282,21449,149,2.0,2005,NaN,NaN,80NX,...,25,1,298,False,False,False,False,False,False,1319500800
401082,6333223,21000,1932240,21449,149,2.0,2005,NaN,NaN,80NX,...,25,1,298,False,False,False,False,False,False,1319500800
401084,6333231,11000,1932482,21434,149,2.0,2005,NaN,NaN,28N,...,14,2,348,False,False,False,False,False,False,1323820800
401090,6333254,12500,1877267,21434,149,2.0,2005,NaN,NaN,28N,...,15,1,319,False,False,False,False,False,False,1321315200
401091,6333255,10500,1929876,21437,149,1.0,2003,NaN,NaN,35N,...,14,2,348,False,False,False,False,False,False,1323820800
401092,6333256,10500,1872420,21437,149,1.0,2003,NaN,NaN,35N,...,14,2,348,False,False,False,False,False,False,1323820800
401093,6333257,10500,1945018,21437,149,1.0,2003,NaN,NaN,35N,...,14,2,348,False,False,False,False,False,False,1323820800
401094,6333258,11500,1874065,21437,149,1.0,2005,NaN,NaN,35N,...,13,1,347,False,False,False,False,False,False,1323734400
401095,6333259,10500,1872639,21437,149,1.0,2003,NaN,NaN,35N,...,14,2,348,False,False,False,False,False,False,1323820800
401098,6333262,10500,1791341,21437,149,2.0,2004,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401099,6333263,11000,1833174,21437,149,1.0,2004,NaN,NaN,35N,...,14,2,348,False,False,False,False,False,False,1323820800
401100,6333264,10500,1791370,21437,149,2.0,2004,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401102,6333272,10500,1927142,21437,149,2.0,2005,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401103,6333273,12500,1789856,21437,149,2.0,2005,NaN,NaN,35N,...,15,3,258,False,False,False,False,False,False,1316044800
401104,6333275,10500,1924623,21437,149,2.0,2005,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401106,6333278,10500,1944702,21437,149,2.0,2005,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401107,6333279,12500,1866563,21437,149,2.0,2005,NaN,NaN,35N,...,15,3,258,False,False,False,False,False,False,1316044800
401108,6333280,10500,1851633,21437,149,2.0,2005,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401109,6333281,10500,1798958,21437,149,2.0,2005,NaN,NaN,35N,...,16,1,228,False,False,False,False,False,False,1313452800
401110,6333282,10500,1878866,21437,149,2.0,2005,NaN,NaN,35N,...,15,3,258,False,False,False,False,False,False,1316044800
401112,6333284,10500,1887654,21437,149,2.0,2005,NaN,NaN,35N,...,25,1,298,False,False,False,False,False,False,1319500800
401113,6333285,10500,1817165,21437,149,2.0,2005,NaN,NaN,35N,...,25,1,298,False,False,False,False,False,False,1319500800
401114,6333287,12500,1918242,21437,149,2.0,2005,NaN,NaN,35N,...,15,1,319,False,False,False,False,False,False,1321315200
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000

In [39]:
df_2 = df_raw.loc[range(5),:]

In [40]:
df_2[df_2.SalePrice > 1000]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [49]:
my_list = df_2.SalePrice > 10000

In [53]:
type(my_list)

pandas.core.series.Series

In [51]:
df_2[my_list]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [48]:
df_2['SalePrice']

0    66000
1    57000
2    10000
3    38500
4    11000
Name: SalePrice, dtype: int64