# Attempt no. 1: Kaggle Grocery Competition

We are going to start by submitting very simple predictions to Kaggle's [Grocery Sales forecasting](https://www.kaggle.com/c/favorita-grocery-sales-forecasting) competition.

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

from fastai.imports import * # fastai.imports imports range of different libraries e.g. pandas
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier # Random Forest Class's we'll use.
from IPython.display import display

from sklearn import metrics

In [16]:
PATH = '/Users/Alex/data/grocery'

Read in the data:

In [17]:
df_raw = pd.read_csv(f'{PATH}/train.csv', usecols=[1, 2, 3, 4, 5], dtype={'onpromotion': str},
    converters={'unit_sales': lambda u: float(u) if float(u) > 0 else 0},
    skiprows=range(1, 124035460))

In [19]:
df_raw.head()

         date  store_nbr  item_nbr  unit_sales onpromotion
0  2017-08-02          1     96995    0.693147       False
1  2017-08-02          1    103520    0.693147       False
2  2017-08-02          1    103665    1.098612       False
3  2017-08-02          1    105574    2.197225       False
4  2017-08-02          1    105575    2.197225       False

Log transform:

In [18]:
df_raw.unit_sales = np.log1p(df_raw.unit_sales)

Fill NAs:

In [20]:
df_raw.loc[:,"unit_sales"].fillna(0, inplace = True)
df_raw.loc[:,"onpromotion"].fillna(False, inplace = True)

Calculate mean:

In [21]:
df_raw = df_raw.groupby(
    ['item_nbr', 'store_nbr', 'onpromotion']
)['unit_sales'].mean().to_frame('unit_sales')

In [22]:
df_raw.head()

                                unit_sales
item_nbr store_nbr onpromotion
96995    1         False          0.936426
         3         False          0.751071
         4         False          0.693147
         5         False          0.693147
         6         False          0.738199

Exponentiate:

In [24]:
df_raw["unit_sales"] = df_raw["unit_sales"].apply(np.expm1)

In [27]:
pd.read_csv(
    "/Users/Alex/data/grocery/test.csv", usecols=[0, 2, 3, 4], dtype={'onpromotion': str}
).set_index(
    ['item_nbr', 'store_nbr', 'onpromotion']
).join(
    df_raw, how='left'
).fillna(0).to_csv(
    'mean.csv', float_format='%.2f', index=None)

In [28]:
! head -10 mean.csv

id,unit_sales
125497040,1.55
125707694,1.55
125918348,1.55
126129002,1.55
126339656,1.55
126550310,1.55
126760964,1.55
126971618,1.55
127182272,1.55